.home-container {
    position: relative;
    width: 100%;
    min-height: 200vh; 
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
}
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
}
.cards-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100%;
}
.content {
    z-index: 10;
    position: relative;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px;
    color: white;
    z-index: 1000; 
    position: relative; 
}

.navbar-logo {
    display: flex;
    align-items: center;
}
