
.footer {
  background-color: #232323;
  color: white;
  width: 100%;
 
  
  position: relative;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top {
  display: flex;
  justify-content: space-between; 
  width: 80%;
  margin-bottom: 20px; 
}

.footer-title {
  text-align: left; 
  font-size: 24px;
  margin: 0;
  padding-right: 1000px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer-links {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  text-align: left; 
  margin-left: 50px; 
  gap: 3px;
}

.footer-links a {
  color: white;
  font-size: 14px; 
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-links a:hover {
  color: #61dbfb;
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 50px;
  gap: 3px;

 
}

.social-icons a {
  /* margin: 5px 0;  */
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #61dbfb;
}

.footer-bottom {
  margin-top: 10px; 
  padding-top: 10px;
  text-align: center;
  font-size: 12px; 
}

.footer-bottom p {
  margin: 0;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; 
    align-items: center;
  }

  .footer-links {
    align-items: center;
    margin-bottom: 20px;
  }

  .social-icons {
    align-items: center;
  }

  .footer-title {
    text-align: center; /* Center the title for smaller screens */
  }
}

@media (max-width: 480px) {
  .footer-title {
    font-size: 18px;
  }

  .footer-links a {
    font-size: 14px;
  }

  .social-icons a {
    font-size: 20px;
  }

  .footer-bottom p {
    font-size: 10px;
  }
}
