.footer {
  background-color: transparent;
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  justify-content: center; 
  align-items: center; 
}

.footer-top {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 20px;
}

.footer-logo h2 {
  font-size: 24px;
  margin: 0;
}

.footer-bottom {
  border-top: 1px solid #61dbfb;
  padding-top: 20px;
  display: flex;
  padding-right: 60px;
  justify-content: center; 
  align-items: center;
}

.social-icons {
  margin-bottom: 10px;
}

.social-icons a {
  margin: 0 10px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #61dbfb;
}

.footer-bottom p {
  margin: 0;
  font-size: 12px;
}
