html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root,
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the wrapper takes full height of the viewport */
}

.main-content {
  flex: 1; /* Takes up the remaining space between the header and footer */
}

.footer {
  background-color: #232323;
  color: white;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  position: relative; /* Ensure it's relative within the flow */
  bottom: 0;
  flex-shrink: 0; /* Prevent it from shrinking */
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.footer-logo h2 {
  font-size: 24px;
  margin: 0;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}

.footer-links a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.footer-links a:hover {
  color: #61dbfb;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-top: 1px solid #444;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin: 0 15px;
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #61dbfb;
}

.footer-bottom p {
  margin: 0;
  font-size: 12px;
}
