body {
    margin: 0 !important;
    font-family: 'Inter', sans-serif !important;
    background-color: #121212 !important;
    color: #ffffff !important;
}
.login-container {
    text-align: left !important;
    max-width: 320px !important;
    margin: 100px auto !important;
}
h1 {
    font-size: 2em !important;
    margin-bottom: 10px !important;
    color: #ffffff !important;
}
p {
    margin-bottom: 20px !important;
    color: #b0b0b0 !important;
}
.input-group {
    position: relative !important;
    margin-bottom: 20px !important;
    background-color: #121212 !important;
}
.input-group .icon {
    position: absolute !important;
    top: 50% !important;
    left: 10px !important;
    transform: translateY(-50%) !important;
    color: #61dbfb !important;
}
input[type="email"], input[type="password"] {
    width: 100% !important;
    padding: 10px 10px 10px 40px !important;
    border: 2px solid #61dbfb !important;
    border-radius: 5px !important;
    background: transparent !important;
    color: #61dbfb !important;
}
