.login-container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  max-width: 320px !important;
  margin: 20px auto !important;
  border-radius: 10px !important;
  padding: 20px !important;
}

.login-logo {
  width: 100px;
  height: auto;
}

form {
  display: flex !important;
  flex-direction: column !important;
  width: 300px !important;
}

h1 {
  display: flex !important;

  font-size: 2em !important;
  margin-bottom: 10px !important;
  color: #ffffff !important;
  text-align: right !important;
  padding-bottom: 10px;
}

.loginText {
  margin-bottom: 10px !important;
  color: #b0b0b0 !important;
  text-align: left !important;
}

.input-group {
  display: flex !important;
  align-items: center !important;
  border: 1px solid #61dbfb !important;
  padding: 10px !important;
  border-radius: 5px !important;
  margin-bottom: 10px !important;
  background-color: transparent !important;
  color: #ffffff !important;
}

.input-group input {
  flex-grow: 1 !important;
  border: none !important;
  outline: none !important;
  background: none !important;
  color: #ffffff !important;
  font-family: "Inter", sans-serif !important;
  margin-left: 10px !important;
  padding: 0 !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
}
.title {
  align-self: center;
}
.input-group .icon {
  min-width: 24px !important;
  margin-right: 10px !important;
  color: #61dbfb !important;
}

.login-button {
  width: 40% !important;
  padding: 10px !important;
  margin: 20px auto 0 auto !important;
  background: #61dbfb !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  text-align: center !important;
  font-family: "Inter", sans-serif !important;
}

.signup-text {
  display: flex !important;
  justify-content: flex-end !important;
  width: 100% !important;
  margin-bottom: 5px !important;
  color: #ffffff !important;
  font-family: "Inter", sans-serif !important;
  padding-right: 10px;
}

.signup-text a {
  color: #61dbfb !important;
  text-decoration: none !important;
}

.signup-text a:hover {
  text-decoration: underline !important;
}
