body {
    margin: 0 !important;
    font-family: 'Inter', sans-serif !important;
    background-color: #121212 !important;
    color: #ffffff !important;
}
.login-container {
    text-align: left !important;
    max-width: 320px !important;
    margin: 100px auto !important;
}
h1 {
    font-size: 2em !important;
    margin-bottom: 10px !important;
    color: #ffffff !important;
}