.features-section {
  margin: 40px auto;
  text-align: center;
  max-width: 1200px;
  padding: 10px;
  justify-content: space-evenly;
  color: #ffffff !important;
}

.features-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px; 
  max-width: 1200px;
  padding: 10px;
}

.features-card {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 20px;
  border-radius: 20px;
  color: white;
  width: 30%;
  min-width: 250px;
  margin: 5px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.features-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.features-card h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: white;
}

.features-card p {
  font-size: 16px;
  line-height: 1.5;
  color:white;
  text-align: justify;
  width: 90%;
  margin: 0 auto;
}

.features-description {
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff !important;
  text-align: justify !important;
  width: 90%;
  margin: 0 auto;
}

.lottie-container {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}


@media (max-width: 768px) {
  .features-container {
    gap: 30px; 
    padding: 10px;
  }

  .features-card {
    width: 45%;
  }

  .features-card h3 {
    font-size: 18px;
  }

  .features-description {
    font-size: 14px; 
  }

  .lottie-container {
    width: 130px; 
    height: 130px;
  }
}


@media (max-width: 480px) {
  .features-container {
    flex-direction: column; 
    gap: 20px; 
  }

  .features-card {
    width: 90%;
    min-width: unset; 
  }

  .features-card h3 {
    font-size: 16px;
  }

  .features-description {
    font-size: 14px; 
  }

  .lottie-container {
    width: 100px;
    height: 100px;
  }
}

