.about-card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.about-card h3 {
    font-size: 24px;
}
.aboutTextContainer{
    color: white;
}
.about-card p {
    font-size: 18px;
    line-height: 1.5;
    color: white;
    text-align: justify;
    width: 90%;
    margin: 0 auto;
}

.aboutTitle {
    font-size: 20px;
    color: white;
}

.aboutText {
    font-size: 16px;
    line-height: 1.5;
    color: white !important; 
    text-align: justify !important;
    width: 90%;
    margin: 0 auto;
}
 p{
    color: white;
}
@media (max-width: 768px) {
    .about-card {
        width: 90%; 
        padding: 15px;
    }

    .about-card h3 {
        font-size: 22px; 
    }

    .about-card p {
        font-size: 16px;
        color: white; 
    }

    .aboutTitle {
        font-size: 18px; 
    }

    .aboutText {
        font-size: 15px; 
        color: white;
    }
}

@media (max-width: 480px) {
    .about-card {
        width: 95%;
        padding: 10px;
    }

    .about-card h3 {
        font-size: 20px;
    }

    .about-card p {
        font-size: 14px; 
        color: white; 
    }

    .aboutTitle {
        font-size: 16px; 
    }

    .aboutText {
        font-size: 14px; 
        color: white;
    }
}
