.signup-container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
  }
  form {
    display: flex !important;
    flex-direction: column !important;
    width: 300px !important;
  }