.signup-container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
  }
  form {
    display: flex !important;
    flex-direction: column !important;
    width: 300px !important;
  }
  
.signup-title,
.signup-subtitle {
  text-align: left !important;
  font-family: "Inter", sans-serif !important;
  color: #ffffff !important;
  margin-bottom: 10px !important;
  width: 100% !important;
}