.signup-container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
  }
  form {
    display: flex !important;
    flex-direction: column !important;
    width: 300px !important;
  }
  
.signup-title,
.signup-subtitle {
  text-align: left !important;
  font-family: "Inter", sans-serif !important;
  color: #ffffff !important;
  margin-bottom: 10px !important;
  width: 100% !important;
}

.input-groupB {
    display: flex !important;
    align-items: center !important;
    border: 1px solid #61dbfb !important;
    padding: 10px !important;
    border-radius: 5px !important;
    margin-bottom: 10px !important;
    background-color: transparent !important;
    color: #ffffff !important;
  
  }
  .input-groupB input {
    flex-grow: 1 !important;
    border: none !important;
    outline: none !important;
    background: none !important;
    color: #ffffff !important;
    font-family: "Inter", sans-serif !important;
    margin-left: 10px !important;
    padding: 0 !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
   
  }
  .input-groupB svg {
    min-width: 24px !important;
    margin-right: 10px !important;
    color: #61dbfb !important;
  }
  .signup-btnB {
    width: 40% !important;
    border: 1px solid #61dbfb !important;
    background: none !important;
    color: #61dbfb !important;
    padding: 10px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    font-family: "Inter", sans-serif !important;
    margin: 15px auto 0 auto !important; 
    text-align: center !important;
  }
  
.signup-btnB:hover {
    background-color: #61dbfb !important;
    color: #000000 !important;
  }
  