.navbarB {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px 20px;
  color: white;
}

.navbar-logoB {
  display: flex;
  align-items: center;
}

.logo-imageB {
  width: 60px;
  height: auto;
  border-radius: 30px;
}

.navbar-linksB {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: smaller;
}
.navbar-linksB li {
  margin: 0 15px;
}
.navbar-linksB a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.navbar-buttonsB {
  display: flex;
  align-items: center;
  gap:10px;
}

.btn-loginB a,
.btn-signupB a,
.btn-logoutB a {
  text-decoration: none;
}
.btn-loginB, .btn-logoutB {
    background: transparent;
    color: white; 
    border: 1px solid #61dbfb;
    border-radius: 20px; 
    padding: 5px 15px; 
}

.btn-loginB a, .btn-logoutB a {
    color: white; 
}


.btn-loginB:hover, .btn-logoutB:hover {
    background-color: #61dbfb;
    color: black; 
    border: 1px solid #61dbfb;
}

.btn-loginB:hover a, .btn-logoutB:hover a {
    color: black;
}
.btn-signupB {
    background-color: #61dbfb;
    color: black; 
    border: 1px solid #61dbfb;
    border-radius: 20px;
    padding: 5px 15px;
}


.btn-signupB a {
    color: black;
}

.btn-signupB:hover {
    background: transparent;
    color: white;
    border: 1px solid #61dbfb;
}

.btn-signupB:hover a {
    color: white; 
}
