.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; 
    padding: 10px 20px;
    color: white;
}

.navbar-logo {
    display: flex;
    align-items: center;
}