.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; 
    padding: 10px 20px;
    color: white;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 60px; 
    height: auto; 
    border-radius: 30px;
}