.iot-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #000000;
    color: white;
    height: 100vh;
}
.iot-content {
    max-width: 50%;
}
.iot-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}
.iot-content p {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.connect-button {
    background-color: transparent;
    color: white;
    border: 1px solid #61dbfb;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
}
.connect-button:hover {
    background-color: #61dbfb;
    color: black;
}